/* CSS document*/

body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #e3e4eb;
}

.logo {
    font-family: 'Caprasimo', 'sans-serif';
    font-size: 25px;
    margin-left: 70px;
}

.cabeçalho { 

}

.naveg {
    
}

.naveg li { 
    list-style-type: none;

}